@charset "utf-8";



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#111;

    overflow-x:hidden;
}



.screen{

    width:390px;

    min-height:844px;

    padding:30px;

    position:relative;

    overflow:hidden;

    background-color: #1C1C1C;

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;
}



.logo{

    display:flex;

    justify-content:center;

    margin-top:20px;

    margin-bottom:50px;

    position:relative;

    z-index:5;
}

.logo img{

    width:170px;

    height:auto;

    object-fit:contain;
}


h2{

    color:white;

    text-align:center;

    font-size:20px;

    font-weight:600;

    margin-bottom:15px;

    position:relative;

    z-index:5;
}

.description{

    color:#d7d7d7;

    text-align:center;

    font-size:14px;

    line-height:1.5;

    margin-bottom:50px;

    position:relative;

    z-index:5;
}

.timer{

    color:#d7d7d7;

    text-align:center;

    font-size:14px;

    margin-bottom:30px;

    position:relative;

    z-index:5;
}


.change{

    width:100%;

    height:50px;

    margin-bottom:60px;

    background-image:
    url("../img/Rectangle 34.png");

    background-size:100% 100%;

    background-repeat:no-repeat;

    position:relative;
}

.code{

    width:100%;

    height:100%;

    border:none;

    background:transparent;

    outline:none;

    color:white;

    text-align:center;

    font-size:16px;

    letter-spacing:5px;
}

.code:focus{

    color:white;
}



.field{

    margin-bottom:20px;

    position:relative;

    z-index:5;
}

.field input{

    width:100%;

    height:56px;

    border:none;

    border-radius:30px;

    background:
    rgba(142,120,152,.65);

    color:white;

    padding:0 20px;

    font-size:16px;

    backdrop-filter:blur(10px);

    outline:none;
}

.field input::placeholder{

    color:#f0f0f0;
}



.green-btn1{

    width:240px;

    height:55px;

    border:none;

    border-radius:30px;

    background:#39f26b;

        color:#111;

    font-size:18px;

    font-weight:700;

    cursor:pointer;

    display:block;

    margin:35px auto 0;

    transition:.3s;
}

.green-btn:hover{

    transform:scale(1.03);
}



.resend{

    display:block;

    text-align:center;

    margin-top:25px;

    color:#d700ff;

    text-decoration:none;

    font-size:15px;

    position:relative;

    z-index:5;
}

.resend:hover{

    color:white;
}



.pull-to-refresh{

    position:absolute;

    top:-60px;

    left:0;

    width:100%;

    height:1px;

    display:flex;

    justify-content:center;

    align-items:center;

    transition:
    top .5s ease,
    height .5s ease;
}

.pull-to-refresh.seen{

    top:0;

    height:60px;
}



.hidden{

    display:none;
}



@media(max-width:420px){

    .screen{

        width:100vw;

        min-height:100vh;
    }

    .logo img{

        width:150px;
    }

    .otp-box{

        width:50px;

        height:50px;
    }

    .code{

        line-height:50px;

        font-size:20px;
    }
}
.content{

    margin-top:40px;

    text-align:center;
}

.content h1{

    color:white;

    font-size:28px;

    font-weight:500;

    margin-bottom:15px;
}

.description{

    color:#d0d0d0;

    font-size:14px;

    line-height:1.6;

    margin-bottom:40px;
}


.password-box{

    
    width:100%;

    height:50px;

    margin-bottom:20px;

    background-image:
    url("../img/Rectangle 34.png");

    background-size:100% 100%;

    background-repeat:no-repeat;

    position:relative;
	
	display:flex;

    align-items:center;


    padding:0 15px;

}


.password-box input{

    flex:1;

    height:100%;

    border:none;

    background:transparent;

    color:white;

    font-size:18px;

    outline:none;
}

.password-box input::placeholder{

    color:white;
}


.eye-btn{

    width:36px;

    height:36px;

    display:flex;

    justify-content:center;

    align-items:center;

    border:none;

    background:transparent;

    cursor:pointer;

    padding:0;

    margin-left:10px;
}

.eye-btn i{

    color:#d000ff;

    font-size:24px;

    line-height:1;
}


.green-btn{

    width:240px;

    height:55px;

    border:none;

    border-radius:35px;

    background:#34f56b;

    color:#111;

    font-size:18px;

    font-weight:700;

    cursor:pointer;

    margin-top:20px;
}

.green-btn1:disabled{

    opacity:.5;

    cursor:not-allowed;

    
}


.green-btn2{

    width:240px;

    height:55px;

    border:none;

    border-radius:30px;

    background:#39f26b;

        color:#111;

    font-size:18px;

    font-weight:700;

    cursor:pointer;

    display:block;

    margin:40px auto 0;

    transition:.3s;
}

.green-btn2:hover{

    transform:scale(1.03);
}
